body{
	text-align:center;background:#f4f4f6;font-family:arial;font-size:12px;padding:0px;margin:0px;
}

form p{
	font-size:18px;
	width:600px;
	text-align:center;
	margin-top:1em;
	position:relative;
	top:1em;
}

img a{
	border:0px;
}

img{
	border:0px;
}

img a:hover{
	border:0px;
}

.fondoCabecera{
	width:100%;height:221px;text-align:center;background:url('../img/fondocabecera.jpg') center top repeat-x;padding:0px;clear:both;margin:0px;
}

.formPCliente{
	width:615px;clear:both;margin:auto;position:relative;top:3em;
}

.divInput{
	background:url('../img/input.jpg') left top no-repeat;height:70px;width:597px;
}

.inputTextBig{
	padding:0px;background:none;font-family:arial;font-size:18px;border:0px;width:548px;position:relative;left:24px;top:21px;float:left;
}

/*
@media all and (max-width: 603px) {
	.fondoCabecera{
		width:300px;height:221px;text-align:left;background:url('../img/fondocabecera.jpg') center top repeat-x;padding:0px;clear:both;float:left;
	}
	
	.formPCliente{
		width:300px;clear:both;margin:auto;position:relative;top:3em;
	}	
	.fondoCabecera{
		width:100%;
	}
}
*/