@font-face {
  font-family: 'Prototype';
  src: url('../font/Prototype.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../font/Prototype.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.err_nopic span{
	font-family: Prototype, Arial, Helvetica;
	font-size: 30px;
	position:relative;
	top:40px;
}

body{
	text-align:center;background:#f4f4f6;font-family:arial;font-size:12px;padding:0px;margin:0px;
}

form p{
	font-size:18px;
	width:600px;
	text-align:center;
	margin-top:1em;
	position:relative;
	top:1em;
}

img a{
	border:0px;
}

img{
	border:0px;
}

img a:hover{
	border:0px;
}

.fondoCabecera{
	width:100%;height:221px;text-align:center;background:url('../img/fondocabecera.jpg') center top repeat-x;padding:0px;clear:both;margin:0px;
}

.formPCliente{
	width:615px;clear:both;margin:auto;position:relative;top:3em;
}

.divInput{
	background:url('../img/input.jpg') left top no-repeat;height:70px;width:597px;
}

.inputTextBig{
	padding:0px;background:none;font-family:arial;font-size:18px;border:0px;width:548px;position:relative;left:24px;top:21px;float:left;
}
.formapparel{
	margin:auto;background:url('../img/input.jpg') left top no-repeat;height:70px;width:603px;
}
.input_btn{
	padding:0px;background:none;font-family:arial;font-size:18px;border:0px;width:310px;position:relative;left:24px;top:21px;float:left;
}
.image_btn{
	padding:0px;float:right;
}

/*
@media all and (max-width: 603px) {
	.fondoCabecera{
		width:300px;height:221px;text-align:left;background:url('../img/fondocabecera.jpg') center top repeat-x;padding:0px;clear:both;float:left;
	}
	
	.formPCliente{
		width:300px;clear:both;margin:auto;position:relative;top:3em;
	}	
	.fondoCabecera{
		width:100%;
	}
}
*/

#images_wrap{
	margin: 0 auto;
	padding: 0 4px 0 4px;
	width:100%;
	height:100%;

}

.clear{ clear: both;}

.marco{
	height: 257px;
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #000000;
	overflow: hidden;
}

.image-c{
	position:relative;
	height: 200px;
	margin-top: 26px;	
	background-color: #ffffff;
	opacity: 0.6;
	z-index: 1;
}

.image-c img{
	height: 200px;
}

#img_detail img{
	max-height: 250px;
}

.btn_descarga, .btn_descarga_roll{
	position:relative;
	background: url('../img/accesofoto.png') no-repeat;
	width: 48px;
	height: 49px;
	z-index: 99;
	margin: 0 auto;
	top:-121px;
}

.btn_descarga_roll{
	background: url('../img/accesofoto_alfa55.png') no-repeat;
}

#ficha{
	margin: 0 auto;
	padding: 20px;
	background-color: white;

}

#img_detail{
	margin: 0 10px 0 0;
	float: left;
}

#prices_box{
	width: 60%;
	float: right;
}


.derecha{float:right;}
.izquierda{float:left;}

#ficha_data{
	width: 100%;
	font-family: Arial, Trebuchet;
	font-size: 11px;
}

#ficha_data thead{
	background-color: #D0D0D2;
}

.descarga_txt{
	max-width: 50%;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 20px;
}

.shadow_detail {
  -moz-box-shadow:    8px 7px 5px 1px #ccc;
  -webkit-box-shadow: 7px 8px 5px 1px #ccc;
  box-shadow:         7px 8px 5px 1px #ccc;
}

.error{ font-family: Arial, Verdana, Helvetica; font-weight: bold; font-size: 11px; font-style: italic; color: #B40404}

/*dialog style*/
.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-widget-content.success-dialog {
    border: 1px solid #000000;
    color: #000000;
}

.ui-widget-header{
	background: none;
	border: 1px solid #000000;
	background-color: #000000;
}

.ui-button{

}

.ui-button-text { color: #000000; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
	border: 1px solid #000000;
	background: none;
	background-color: #cccccc;
}

.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #cccccc;
	text-decoration: none;
}

.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}

.err_nopic{
	max-width: 50%;
	margin:0 auto;
}

.err_nopic img{
	float: left;
}

.main-nav{
	width: 100%;
	height: 50px;
	z-index: 1000;
	background-color: #222222;
	font-family: Arial, Helvetica;
	color: #f5f5f5;
	margin-bottom: 10px;
}

.left{ float: left;}
.right{ float: right;}

.grid-container{
	max-width: 100% !important;
}

.left-nav, .right-nav, .center-nav{
	background-color: #f5f5f5;
}

.center-nav{
	border: solid #a4a4a4;
	border-width: 0 1px;
}

li.thumbnail_nav{
	float:left;
	position: relative;
	margin: 7px 7px;
}

ul.photogallery-nav{
	list-style-type: none;
	text-align: left;
}


.overlay{
	position: absolute;
	width: 168px;
	display: block;
	font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 168px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	top: 0px;
	left: 0px;
	vertical-align: baseline;

	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: ease-out;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-out;

	opacity: 0;
}

.overlay h4{
	position: absolute;
	bottom: 0px;
	color: white;
}

.shadow{
	position: absolute;
	width: 100%;
	height: 55px;
	background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	left:0px;
	bottom: 0px;
}

.button{
	color: black;
	font-size: 12px;
	font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background-color: #f5f5f5;
	width: 49px;
	text-align: left;
	padding: 5px 5px 0 0;
}