.main-nav{
	width: 100%;
	height: auto;
	z-index: 1000;
	background-color: #222222;
	font-family: Arial, Helvetica;
	color: #f5f5f5;
	margin-bottom: 10px;
}

.left{ float: left;}
.right{ float: right;}

.grid-container{
	max-width: 100% !important;
}

.left-nav, .right-nav, .center-nav{
	background-color: #f5f5f5;
}

.center-nav{
	border: solid #a4a4a4;
	border-width: 0 1px;
}

li.thumbnail_nav{
	float:left;
	position: relative;
	margin: 7px 7px;
}

ul.photogallery-nav{
	list-style-type: none;
	text-align: left;
}


.overlay{
	position: absolute;
	width: 168px;
	display: block;
	font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 168px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: left;
	top: 0px;
	left: 0px;
	vertical-align: baseline;

	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: ease-out;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-out;

	opacity: 0;
}

.overlay h4{
	position: absolute;
	bottom: 0px;
	color: white;
}

.shadow{
	position: absolute;
	width: 100%;
	height: 55px;
	background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	left:0px;
	bottom: 0px;
}

.Login_img{
	padding: 0px 5px 0px 20px;
}

.config{
	// position:relative;
	display: table;
	font-size: 17px;
}

.config div:nth-child(2){
	display: table-cell;
	vertical-align: middle;
	position:relative;
	top: 21px;
}

.config a{
	color: white;
}