//images path

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
$base-font-weight: $regular;
$base-font-size: 12px;
$base-font-form: 18px;
$base-line-height: 1.2;
$base-font-buttons: 10px;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

$base-color: #f5f5f5;
$customGrey: #BDBDBD;

@font-face {
  font-family: 'Prototype';
  src: url('../font/Prototype.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../font/Prototype.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body{
	text-align:center;
	background:#f4f4f6;
	font-family:arial;
	font-size:$base-font-size;
	padding:0px;
	margin:0px;
}

img{
	border:0px;
	a, a:hover {
		border:0px;
	}
}

#images_wrap{
	margin: 0 auto;
	padding: 0 4px 0 4px;
	width:100%;
	height:100%;

}

.marco{
	height: 257px;
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #000000;
	overflow: hidden;
}

.image-c{
	position:relative;
	height: 200px;
	margin-top: 26px;	
	background-color: #ffffff;
	opacity: 0.6;
	z-index: 1;

	img{
		height: 200px;
	}
}


#img_detail img{
	max-height: 250px;
}

.btn_descarga, .btn_descarga_roll{
	position:relative;
	background: url('../img/accesofoto.png') no-repeat;
	width: 48px;
	height: 49px;
	z-index: 99;
	margin: 0 auto;
	top:-121px;
}

.btn_descarga_roll{
	background: url('../img/accesofoto_alfa55.png') no-repeat;
}

#ficha{
	margin: 0 auto;
	padding: 20px;
	background-color: white;

}

#img_detail{
	margin: 0 10px 0 0;
	float: left;
}

#prices_box{
	width: 60%;
	float: right;
}

#ficha_data{
	width: 100%;
	font-family: $base-font-family;
	font-size: 11px;
}

#ficha_data thead{
	background-color: #D0D0D2;
}

.descarga_txt{
	max-width: 50%;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 20px;
}

.shadow_detail {
  -moz-box-shadow:    8px 7px 5px 1px #ccc;
  -webkit-box-shadow: 7px 8px 5px 1px #ccc;
  box-shadow:         7px 8px 5px 1px #ccc;
}

.down{
	position: absolute;
	bottom: 0;
	margin: 0 auto;
}