@charset "UTF-8";
@font-face {
  font-family: 'Prototype';
  src: url("../font/Prototype.woff") format("woff"), url("../font/Prototype.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }
body {
  text-align: center;
  background: #f4f4f6;
  font-family: arial;
  font-size: 12px;
  padding: 0px;
  margin: 0px; }

img {
  border: 0px; }
  img a, img a:hover {
    border: 0px; }

#images_wrap {
  margin: 0 auto;
  padding: 0 4px 0 4px;
  width: 100%;
  height: 100%; }

.marco {
  height: 257px;
  float: left;
  margin: 0 10px 0 0;
  border: 1px solid #000000;
  overflow: hidden; }

.image-c {
  position: relative;
  height: 200px;
  margin-top: 26px;
  background-color: #ffffff;
  opacity: 0.6;
  z-index: 1; }
  .image-c img {
    height: 200px; }

#img_detail img {
  max-height: 250px; }

.btn_descarga, .btn_descarga_roll {
  position: relative;
  background: url("../img/accesofoto.png") no-repeat;
  width: 48px;
  height: 49px;
  z-index: 99;
  margin: 0 auto;
  top: -121px; }

.btn_descarga_roll {
  background: url("../img/accesofoto_alfa55.png") no-repeat; }

#ficha {
  margin: 0 auto;
  padding: 20px;
  background-color: white; }

#img_detail {
  margin: 0 10px 0 0;
  float: left; }

#prices_box {
  width: 60%;
  float: right; }

#ficha_data {
  width: 100%;
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px; }

#ficha_data thead {
  background-color: #D0D0D2; }

.descarga_txt {
  max-width: 50%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  padding-bottom: 20px; }

.shadow_detail {
  -moz-box-shadow: 8px 7px 5px 1px #ccc;
  -webkit-box-shadow: 7px 8px 5px 1px #ccc;
  box-shadow: 7px 8px 5px 1px #ccc; }

.down {
  position: absolute;
  bottom: 0;
  margin: 0 auto; }

/*# sourceMappingURL=base.css.map */
