.button{
	position: absolute;
	top: 9px;
	left: 9px;
	color: black;
	font-size: $base-font-buttons;
	text-transform: uppercase;
	font-family: $base-font-family;
	font-weight: bolder;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f5f5f5;
	width: 49px;
	text-align: center;
	padding: 2px 5px;
	white-space: nowrap;
	display: inline-block;

	a:hover{
		text-decoration: none;
	}
}

.remove{
	left: auto;
	right: 9px;
}