.error{ font-family: Arial, Verdana, Helvetica; font-weight: bold; font-size: 11px; font-style: italic; color: #B40404}
.err_nopic{
	span{
		font-family: Prototype, Arial, Helvetica;
		font-size: 30px;
		position:relative;
		top:40px;
	}
}

.err_nopic{
	max-width: 50%;
	margin:0 auto;
	img{
		float: left;
	}
}

.messageOK, .message_err{
	position: relative;
	width: 50%;
	margin: 0 auto;
	background: #418021;
	color: white;
	font-size: $base-font-form;
	z-index: 1000;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px 10px;
	top: -10px;
	
}

.message_err { background: #f00;}

.alert-error{
	background-color: #DF0101;
	color: white;
	font-family: $base-font-family;
}