form {
	p{
		font-size:$base-font-form;
		width:600px;
		text-align:center;
		margin-top:1em;
		position:relative;
		top:1em;	
	}
	#Edit{

	}
}

.formPCliente{
	width:615px;clear:both;margin:auto;position:relative;top:3em;
}

.divInput{
	background:url('../img/input.jpg') left top no-repeat;height:70px;width:597px;
}

.inputTextBig{
	padding:0px;background:none;font-family:arial;font-size:$base-font-form;border:0px;width:548px;position:relative;left:24px;top:21px;float:left;
}
.formapparel{
	margin:auto;background:url('../img/input.jpg') left top no-repeat;height:70px;width:603px;
}
.input_btn{
	padding:0px;background:none;font-family:arial;font-size:$base-font-form;border:0px;width:310px;position:relative;left:24px;top:21px;float:left;
}
.image_btn{
	padding:0px;float:right;
}

.photoEdit{
	padding: 5px 10px 10px 10px;
}

.text{
	width: 50%;
	margin:0 auto;
	input{
		width: 70%;
	}
	label{
		width: 20%;
	}
}

//Login user
#login_box input{
	width: 100%;
}

#login_box button{
	margin-top: 10px;
	background-image: -webkit-linear-gradient(top, #000000 0, #000000 100%);
	border-color: #424242;
	background-color: #000000;
}


#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}