.fondoCabecera {
  width: 100%;
  height: 221px;
  text-align: center;
  background: url("../img/fondocabecera.jpg") center top repeat-x;
  padding: 0px;
  clear: both;
  margin: 0px; }

/*# sourceMappingURL=header.css.map */
