.ui-dialog-titlebar-close {
  visibility: hidden; }

.ui-widget-content.success-dialog {
  border: 1px solid #000000;
  color: #000000; }

.ui-widget-header {
  background: none;
  border: 1px solid #000000;
  background-color: #000000; }

.ui-button-text {
  color: #000000; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #000000;
  background: none;
  background-color: #cccccc; }

.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #cccccc;
  text-decoration: none; }

.ui-state-default .ui-icon {
  background-image: url("images/ui-icons_222222_256x240.png"); }

.saveButtonClass {
  background: url("img/glyphicons_446_floppy_save.png") no-repeat !important; }

.cancelButton {
  background: url("img/glyphicons_207_remove_2.png") no-repeat !important; }

/*# sourceMappingURL=modal_window.css.map */
